.book-card {
  background-color: var(--bg-card);
  padding: 20px;
  border-radius: 18px;
  text-align: left; 
  width: 250px;
  transition: transform 0.3s ease;
  height: 100%; 
  min-height: 400px;

  &:hover {
    transform: translateY(-8px);
  }

  .book-image-card {
    padding: 10px;        
    border-radius: 12px; 
    margin-bottom: 10px;

    img {
      width: 100%;
      aspect-ratio: 2 / 3;
      box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.25); 
      border-radius: 12px;
    }
  }

  .book-info {
    padding: 0 5px;

    h2 {
      background-color: var(--primary-green);
      color: var(--bg-crema);
      font-size: 0.65rem;
      font-weight: 900;
      text-transform: uppercase;
      padding: 4px 10px;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    h3 {
      margin: 5px 0 2px 0;
      font-size: 1.1rem;
      color: var(--text-main);
    }

    p {
      font-size: 0.85rem;
      color: var(--text-sec);
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .book-card {
    width: 100%;
    max-width: 280px;
    min-height: auto;
    margin: 0 auto;
    
    .book-info {
      h3 { font-size: 1rem !important; }
      p { font-size: 0.85rem !important; }
    }
  }
}