.minimal-select {
    background-color: #e7e3d5;
    border: 1px solid #a19284;
    color: #3b2c27;
    padding: 5px 15px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    &:hover {
        background-color: #f3ede6;
        border-color: #795548;
    }
}

@media (max-width: 600px) {
    .year-selector {
        display: block;
        text-align: center;

        .minimal-select {
            background-color: #fcfaf2;
            border: 1px solid #d4cdbb;
            color: #2d5a27;
            font-size: 0.8rem;

            &:hover {
                background-color: #d4cdbb;
            }
        }
    }
}