.main-header {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); /* Efecto cristalino moderno */
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px 0;

    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        .header-brand h1 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #2d3436;
            margin: 0;
            letter-spacing: -0.5px;
        }

        .menu-toggle {
            display: none;
        }

        .nav-overlay { 
            display: none;
        }

        .header-nav {
            display: flex;
            gap: 15px;

            .nav-link {
                text-decoration: none;
                color: #636e72;
                font-weight: 500;
                font-size: 0.95rem;
                padding: 8px 16px;
                border-radius: 8px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #f1f2f6;
                    color: #2d3436;
                }

                &.active {
                    background-color: #2d3436;
                    color: white;
                }
            }
        }
    }
}

/* Movile */
@media (max-width: 600px) {
    .main-header .header-container {
        gap: 15px;
        padding: 0 30px;

        .header-brand h1{ font-size: 1rem !important;}

        .menu-toggle {
            display: block; 
            background: none;
            border: none;
            font-size: 1rem;

            &.open {
                z-index: 10001 !important;
                position: fixed; 
                top: 5px;
                right: 5px;
                font-size: 0.8rem;
            }
        }

        .nav-overlay {
            background-color: transparent;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }

        .header-nav {
            position: fixed;
            top: 0;
            right: -100%; 
            width: 100px;
            background: white;
            flex-direction: column;
            padding: 20px 5px 5px 5px;
            box-shadow: -5px 0 15px rgba(0,0,0,0.1);
            transition: right 0.3s ease-in-out; 
            z-index: 10000;

            &.open {
                right: 0;
            }
            .nav-link {
                font-size: 0.8rem;
                color: #8f9394;
                font-weight: 500;
                padding: 1px 2px;
                text-align: center;

                &.active {
                    background-color:white;
                    color: black;
                }
            }
        }
    }
}