.main-header {
    background-color: #2d5a27;
    position: relative;
    padding: 20px 0 20px 0;
    margin: 40px 0 40px 0;

    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .header-brand {
            position: relative;
            h1 {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                
                width: 140px;
                height: 140px;
                background-color: #2d5a27;
                border-radius: 50%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 0;
                padding: 15px;
                font-size: 1.2rem;
                color: #fcfaf2;
                z-index: 10;
            }
        }

        .menu-toggle {
            display: none;
        }

        .nav-overlay { 
            display: none;
        }

        .header-nav {
            display: flex;
            flex: 1;
            justify-content: space-around;
            align-items: center;
            margin-left: 140px;

            .nav-link {
                text-decoration: none;
                color: #fcfaf2;
                font-weight: 500;
                font-size: 0.95rem;
                padding: 8px 16px;
                border-radius: 8px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #f1f2f6;
                    color: #2d3436;
                }

                &.active {
                    background-color: #20351e;
                    color: white;
                }
            }
        }
    }
}

/* Movile */
@media (max-width: 600px) {
    .main-header {

        padding-top: 18px !important; 
        padding-bottom: 18px !important;
        margin-top: 50px;
    
        .header-container {
            gap: 15px;
            padding: 0 30px;

            .header-brand h1{ 
                font-size: 1rem !important;
                width: 120px;
                height: 120px;
            }

            .menu-toggle {
                display: block; 
                background: none;
                border: none;
                font-size: 1rem;
                color: #fcfaf2;
                cursor: pointer;

                &.open {
                    z-index: 10001 !important;
                    position: fixed; 
                    top: 10px;
                    right: 10px;
                    font-size: 1rem;
                    color: #2d5a27;
                }
            }

            .nav-overlay {
                background-color: transparent;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
            }

            .header-nav {
                position: fixed;
                top: 0;
                right: -100%; 
                width: 140px;
                background: #fcfaf2;
                flex-direction: column;
                justify-content: center;
                padding: 20px 5px 5px 5px;
                box-shadow: -5px 0 15px rgba(0,0,0,0.1);
                transition: right 0.3s ease-in-out; 
                z-index: 10000;

                &.open {
                    right: 0;
                }
                .nav-link {
                    font-size: 0.8rem;
                    color: #2d5a27;
                    font-weight: 500;
                    padding: 5px;
                    text-align: center;

                    &.active {
                        background-color: #2d5a27;
                        color: #fcfaf2;
                    }
                }
            }
        }
    }
}