.bom-container {
  padding: 50px 40px;
  display: flex;
  justify-content: center;

  .bom-card-horizontal {
    display: flex;
    align-items: center;
    max-width: 1100px;
    gap: 80px;

    .bom-image-wrapper {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            width: 320px;
            height: 320px;
            background-color: var(--primary-green);
            border-radius: 50%;
            top: -40px;
            left: -20px;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 250px;
            height: 200px;
            background-color: var(--primary-green);
            border-radius: 20px;
            bottom: -50px;
            right: 0px;
            z-index: 1;
        }

        img {
            border-radius: 20px;
            width: 65%;
            max-width: 350px;
            position: relative;
            z-index: 2;
        }
    }

    .bom-info-content {
      flex: 1.2;
      position: relative;

      .bom-month-star {
        position: absolute;
        top: -40px; 
        right: 10px; 
        background-color: var(--primary-green);
        color: var(--white-bone);
        padding: 25px 10px;
        margin: 0;
        font-weight: 800;
        font-size: 0.85rem;
        z-index: 5;
        transform: rotate(15deg);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        text-align: center;
        clip-path: polygon(50% 0%, 61% 14%, 78% 10%, 80% 28%, 95% 34%, 88% 50%, 95% 66%, 80% 72%, 78% 90%, 61% 86%, 50% 100%, 39% 86%, 22% 90%, 20% 72%, 5% 66%, 12% 50%, 5% 34%, 20% 28%, 22% 10%, 39% 14%);
      }

      .bom-badge {
        font-size: 3rem;
        margin-bottom: 20px;
        
          color: var(--primary-green);
      }

      .bom-description {
        font-size: 1rem;
        line-height: 1.8;
        color: var(--text-sec);
        margin-bottom: 30px;
      }
    }
  }
}

/* Movil */
@media (max-width: 768px) {
  .bom-container {
    padding: 40px 20px;

    .bom-card-horizontal {
      display: flex;
      flex-direction: column;
      gap: 35px;
      text-align: center;

      .bom-image-wrapper {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        
        &::before {
          width: 240px;
          height: 240px;
          top: -25px;
          left: 50%;
          transform: translateX(-70%);
          z-index: 1;
        }

        &::after {
          width: 180px;
          height: 160px;
          bottom: -30px;
          right: 45%;
          transform: translateX(75%);
          z-index: 1;
        }

        img {
          width: 75%; 
          max-width: 230px;
          position: relative;
          z-index: 2;
        }
      }

      .bom-info-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        .bom-month-star {
          position: relative;
          top: auto;
          left: auto;
          transform: none;
          clip-path: none;
          display: inline-block;
          margin-bottom: 12px;
          padding: 6px 20px;
          border-radius: 50px;
          font-size: 0.8rem;
          background-color: var(--primary-green);
          color: var(--white-bone);
        }

        .bom-badge {
          font-size: 1.7rem; 
        }

        .bom-description {
          font-size: 0.9rem !important;
          line-height: 1.4rem;
          text-align: justify;
          padding: 0 10px;
        }
      }
    }
  }
}