
.books-container{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;

    .book-card-link{
        text-decoration: none;
        color: inherit;

        &:visited{
            text-decoration: none;
            color: inherit;
        }
    }

    
}

@media (max-width: 600px) {

    .books-container{
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
        padding: 20px 10px;
        width: 100%;
        height: auto;
        margin: 0;
    }
}