
.next-book-page { 

    padding-top: 15px;
    
    .next-book-btn {

        text-align: center;
    
        .pick-btn {
            padding: 10px 20px;
            font-size: 1.2rem;
            cursor: pointer;
            color: white;
            background-color: #5d4037;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
        }
    }

    .next-book-pop-up {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color:rgba(0, 0, 0, 0.6);
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 1000;

       .next-book-content {
            background-color: #d4cdbb;
            padding: 30px;
            border-radius: 12px;
            text-align: center;
            max-width: 400px;

            .next-book-options {
                margin-top: 20px;
                display: flex;
                gap: 10px;
                justify-content: center;
                
                button {
                    padding: 10px 20px;
                    background-color: #4CAF50;
                    color: white;
                    border: none;
                    border-radius: 5px;
                } 

                .confirm-btn {
                    background-color: #4CAF50;
                }

                .discard-btn {
                    background-color: #f44336;
                }
            }
       }
    }
}

@media (max-width: 600px) {

    .next-book-page {
        
        .next-book-btn .pick-btn {
            padding: 8px 16px;
            font-size: 1rem;
            margin-top: -10px;
            margin-bottom: 20px;
        }

        .next-book-pop-up {
            .next-book-content {

                padding: 20px;
                max-width: 300px;

                h2 {font-size: 1rem;}

                h1 { font-size: 1.5rem !important;}

                .next-book-options button {
                        padding: 8px 16px;
                } 
            }
        }
    }
}