.single-book-container {
    max-width: 80%;
    margin: 40px auto;
    padding: 0 20px;

    .edit-btn-inline {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 0.6rem;
        opacity: 0.4;
        padding: 0 2px; 
        margin-left: 4px;
        transition: all 0.2s ease;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;

        &:hover {
            opacity: 1;
            transform: scale(1.2);
        }
    }

    .editable-group, .editable-item, .rating-group, .comment-group {
        display: flex;
        align-items: center;
        gap: 4px; 
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .back-button {
            background: none;
            border: none;
            color: var(--text-sec);
            cursor: pointer;
            font-size: 0.9rem;
            transition: 0.3s;
            &:hover { color: black; transform: translateX(-5px); }
        }

        .change-btns {

            display: flex;
            flex-direction: column;

            button {
                color: var(--primary-red);
                background: none;
                border: none;
                cursor: pointer;
                font-size: 0.9rem;
                font-weight: 500;
                &:hover {text-decoration: underline; }
            }

        }
    }

    .book-main-content {
        display: flex;
        gap: 50px;
        background: var(--bg-card);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.05);
        margin-bottom: 40px;
        align-items: flex-start;

        .book-details {
            img {
                width: 220px; 
                border-radius: 8px;
                box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
                display: block;
            }

            .book-average-rating {
                display: flex;
                align-items: center;
                margin: 15px 0;

                .stars-container {
                    position: relative;
                    display: inline-block;
                    font-size: 1.5rem; 
                    letter-spacing: 2px;
                    margin: auto;

                    .stars-empty { color: #e0e0e0; }
                    .stars-filled {
                        color: #ad7c00; 
                        position: absolute;
                        top: 0;
                        left: 0;
                        white-space: nowrap;
                        overflow: hidden; 
                    }
                }
            }
        }

        .book-detail-info {
            flex: 1;

            .category-month-row {

                display: flex;
                justify-content: space-between;
                align-items: center;
                
                span{
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: var(--primary-green);
                    font-weight: bold;
                    letter-spacing: 1.2px;
                }

                .month-read-section {
                    .set-month-inline button{
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        color: var(--primary-green);
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        padding-bottom: 3px;
                    }
                }
            }

            h1 { font-size: 2.2rem; margin: 8px 0; color: var(--text-main); line-height: 1.2; }
            .book-author { font-size: 1.1rem; color: var(--text-sec); margin-bottom: 25px; }

            .book-description {
                .editable-group {
                    border-bottom: 1px solid var(--white-bone);
                    padding-bottom: 8px;
                    margin-bottom: 12px;
                    h3 { font-size: 1rem; color: var(--text-main); margin: 0; }
                }
                p { line-height: 1.6; color: var(--text-sec); font-size: 0.95rem; margin-bottom: 25px; white-space: pre-line; }
            }

            .book-meta {
                .editable-item {
                    margin: 5px 0;
                }
                p { margin: 0; font-size: 0.9rem; color: var(--text-sec); }
            }
        }
    }

    .book-reviews-section {
        margin-top: 20px;
        h3 { text-align: center; margin-bottom: 20px; color: var(--text-main); }

        .add-review-btn {
            background-color: var(--primary-green);
            color: var(--white-bone);
            border-radius: 25px; 
            cursor: pointer; 
            display: block;
            margin: 0 auto 20px; padding: 5px 15px;
            &:hover {
                transform: translateY(-3px);
            }
        }

        .review-card {
            background: var(--bg-card);
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 15px;
            border-left: 5px solid var(--primary-green);
            position: relative;

            .remove-review {
                color: var(--primary-red); font-size: 0.8rem; cursor: pointer;
                background: none; border: none; display: block; margin: 0 auto 10px;
                &:hover { text-decoration: underline; }
            }

            .review-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .rating { color: #8d5c02; font-weight: bold; }
            }

            .comment-group {
                align-items: flex-start;
                .review-comment { font-style: italic; color: var(--text-sec); margin: 0; line-height: 1.5; }
            }
        }
    }
}

@keyframes modalFadeIn { from { opacity: 0; transform: translateY(-10px); } to { opacity: 1; transform: translateY(0); } }

@media (max-width: 600px) {
    .single-book-container {
        max-width: 99%; 
        margin: 20px auto;
        padding: 0 5px;

        .top-bar {
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            align-items: center;
            margin-bottom: 5px;

            .back-button {
                font-size: 0.8rem;
            }

            .change-btns {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                
                button {
                    font-size: 0.7rem;
                    padding: 5px;
                }
            }
        }

        .book-main-content {
            flex-direction: column; 
            align-items: center;
            padding: 20px 15px;
            gap: 20px;

            .book-details {
                margin-bottom: -20px;

                img {
                    width: 180px;
                    margin-left: 25px;
                }
                
                .book-average-rating {
                    justify-content: center;
                    .stars-container { font-size: 1.2rem; }
                }
            }

            .book-detail-info {
                width: 100%;
                text-align: center;

                .category-month-row {
                    order: -1; 
                    margin-bottom: 15px;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                }

                .editable-group {
                    margin-left: 15px;
                    justify-content: center;

                    .edit-btn-inline {
                        font-size: 0.5rem;
                    }
                }

                h1 {
                    font-size: 1.5rem !important;
                    margin: 10px 0;
                }

                .book-author {
                    font-size: 1rem !important;
                    margin-bottom: 15px;
                }

                .book-description {
                    h3 { font-size: 0.9rem !important; }
                    p {
                        font-size: 0.6rem !important; 
                        line-height: 1.4;
                        text-align: justify;
                    }
                }

                .book-meta {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 0.7rem;

                    .editable-item {
                        margin-left: 25px;
                    }
                }
            }
        }

        .book-reviews-section {
            h3 { font-size: 1.1rem !important; }
            .review-card {
                .review-comment {
                    font-size: 0.85rem !important;
                }
            }
        }
    }
}