.stats-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        color: var(--text-main);
        letter-spacing: -1px;
    }

    .stats-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin-bottom: 3rem;

        .stat-card {
            background: var(--bg-card);
            border: 1px solid #b8b3a6;
            padding: 2rem;
            border-radius: 20px;
            text-align: center;
            transition: transform 0.3s ease;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: translateY(-5px);
            }

            h3 {
                font-size: 0.9rem;
                text-transform: uppercase;
                color: var(--text-sec);
                margin-bottom: 1rem;
            }

            .stat-number {
                font-size: 3rem;
                font-weight: 800;
                color: var(--primary-green);
                margin: 0;
            }

            .stat-title {
                font-weight: 600;
                color: var(--text-main);
                margin-bottom: 0.2rem;
            }

            .stat-subtitle {
                font-size: 0.85rem;
                color: var(--text-sec);
            }
        }
    }

    .charts-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        .chart-box {
            background: var(--bg-card);
            padding: 1.5rem;
            border-radius: 20px;
            border: 1px solid #b8b3a6;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);

            h3 {
                margin-bottom: 1.5rem;
                font-size: 1.2rem;
                color: var(--text-sec);
                text-align: center;
            }
        }
    }
}

@media (max-width: 900px) {
    .stats-container .charts-section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 1.8rem !important;
    }

    p {
        font-size: 1rem !important;
    }

    .stats-grid .stat-card{  
            width: 95%;
    }

    .charts-section .chart-box {
            padding: 15px !important; 
    }
}